.tgrf {
	// custom wrapper
	&-wrapper {
		width: 1260px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 24px;
	}
}

// Spacing
.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.my-12 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.section-spacer {
	padding-top: 6rem;
	padding-bottom: 6rem;

	&--sm {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}
