.section-spacer {
	padding-top: 6rem;
	padding-bottom: 6rem;

	&--sm {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.col-grid-2 {
	display: grid;
	row-gap: 5rem;

	@media screen and (min-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
		align-items: center;
	}
}

.col-grid-3 {
	display: grid;
	gap: 5rem;

	@media screen and (min-width: 900px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.col-grid-4 {
	display: grid;
	row-gap: 5rem;

	@media screen and (min-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (min-width: 1024px) {
		grid-template-columns: repeat(4, 1fr);
	}
}
