.cre-card {
	text-align: center;
	padding: 0 1rem;

	@media screen and (min-width: 1200px) {
		padding: 0 2rem;
	}

	h3 {
		font-size: 1.2rem;
		font-weight: 500;
	}

	&__text {
		p {
			font-size: 0.8rem;
		}
	}

	div {
		min-height: 130px;
	}
}

.cre-card-container > * + * {
	@media screen and (min-width: 1024px) {
		border-left: 1px solid rgba(89, 95, 117, 0.1);
	}
}

// Agent Cards
.cre-agent-card {
	&__text > * {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-align: center;
	}

	h3 {
		// font-size: 1.2rem;
		margin: 1rem 0;
	}

	&__text-subtitle {
		display: block;
		font-size: 1rem;
	}

	img {
		display: block;
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
		max-height: 400px;
		object-fit: cover;
		object-position: top center;
	}

	&__icon-text {
		display: grid;
		grid-template-columns: 25px auto;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		img {
			width: 25px;
			height: 25px;
		}
	}
}
